LAB/Lab 9/q3_q4.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- definition of simple elements -->
<xs:element name="height" type="xs:decimal"/>
<xs:element name="width" type="xs:decimal"/>
<xs:element name="depth" type="xs:decimal"/>
<xs:element name="weight" type="xs:decimal"/>
<xs:element name="cost" type="xs:decimal"/>
<xs:element name="productname" type="xs:string"/>
<xs:element name="storagenumber" type="xs:integer"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="supplier" type="xs:string"/>
<xs:element name="warranty" type="xs:string"/>
<xs:element name="retailer" type="xs:string"/>
<xs:element name="image" type="xsd:base64Binary"/>

<!-- definition of attributes -->
<xs:attribute name="unit" type="xs:string"/>
<xs:attribute name="id" type="xs:string">
    <xs:simpleType>
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
</xs:attribute>
<xs:attribute name="electric" type="xs:string">
    <xs:simpleType>
        <xs:restriction base="xs:string">
            <xs:pattern value="(\btrue\b|\bfalse\b){1}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:attribute>
<xs:attribute name="type" type="xs:string">
    <xs:simpleType>
        <xs:restriction base="xs:string">
            <xs:pattern value="(\bpress\b|\bgear\b|\bcentrifugal\b){1}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:attribute>

<!-- definition of complex elements -->

<xs:element name="dimension">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="height" use="required"/>
      <xs:element ref="width" maxOccurs="1" minOccurs="0"/>
      <xs:element ref="depth" maxOccurs="1" minOccurs="0"/>
      <xs:attribute ref="unit" use="required"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="product">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="productname" use="required"/>
      <xs:element ref="storagenumber" use="required"/>
      <xs:element ref="dimension" use="required"/>
      <xs:element ref="description"/>
      <xs:element ref="supplier"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="juicer">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="productname"/>
      <xs:element ref="image"/>
      <xs:element ref="description"/>
      <xs:element ref="warranty" maxOccurs="1"/>
      <xs:element ref="weight" maxOccurs="1"/>
      <xs:element ref="cost" minOccurs="1"/>
      <xs:element ref="retailer"/>
      <xs:attribute ref="ID" use="required"/>
      <xs:attribute ref="electric" use="required"/>
      <xs:attribute ref="type" use="required"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="juicers">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="juicer" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="catalog">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="product" maxOccurs="unbounded"/>
      <xs:element ref="juicers" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>